@import './Variables.scss';
.About {
    width: 100%;
    height: 100vh;

    &-Container {
        position: relative;
        display: grid;
        color: white;
        margin: 15% 10% 15% 10%;

        &-Header {
            font-size: 2em;
            color: #29D9B9;
            margin-bottom: 25px;
        }
    
        &-Text {
            margin-bottom: 25px;
        }

    }
}