.About {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 97vw;
    height: 83vh;
    overflow-y: auto;

    &-Container {
        display: grid;
        color: white;
        margin-top: 10vh;
        margin-left: 10%;
        margin-right: 10%;
        height: 65vh;
        

        &-Header {
            font-size: 2em;
            color: #29D9B9;
            margin-bottom: 25px;
        }
    
        &-Text {
            margin-bottom: 25px;
        }

    }
}