.Contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    &-Title {
        color: #29D9B9;
        margin: 15% 0 50px 10%;

        @media (max-width: 300px) {
            margin: 100px auto 50px auto;
        }
    }

    &-Info {
        color: white;
        list-style: none;
        margin-left: 10%;
        line-height: 4rem;
    }
}