@import 'Variables';
.Nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $Effect-Color;
  width: 100%;
  height: 8vw;
  min-width: 270px;
  max-width: 800px;
  min-height: 50px;
  max-height: 80px;
  margin: 0 10px 0 10px;
  border-radius: 50px;
  z-index: 2;

  &--Light-Mode {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $Effect-Color-LM;
    width: 100%;
    height: 8vw;
    min-width: 270px;
    max-width: 800px;
    min-height: 50px;
    max-height: 80px;
    margin: 0 10px 0 10px;
    border-radius: 50px;
    z-index: 2;
  }

  &-Link {
    display: flex;
    text-decoration: none;
    color: #FFF;
    z-index: 1;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }

  &-Link-icon {
    font-size: 1.5em;
  }

  &-HomeBtn {
    &:hover{
      transform: scale(1.2);
    }
  }
  
  &-HomeBtn img {
    width: 8vw;
    height: 8vw;
    min-width: 50px;
    max-width: 80px;
    min-height: 50px;
    max-height: 80px;
  }

}



