@import 'Variables';
.Nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;

  &-Effect {
    position: absolute;
    background-color: $Effect-Color;
    width: 80%;
    min-width: 270px;
    min-height: 50px;
    max-height: 80px;
    min-width: 280px;
    border-radius: 50px;
    z-index: 0;
  }

  &-Effect--Light-Mode {
    position: absolute;
    background-color: $Effect-Color-LM;
    width: 80%;
    min-width: 270px;
    min-height: 50px;
    max-height: 80px;
    min-width: 280px;
    border-radius: 50px;
    z-index: 0;
  }

  &-Grid {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "projects skills . contact about";
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
  }

  &-Link {
    display: flex;
    text-decoration: none;
    color: #FFF;
    z-index: 1;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover, &:focus {
      transform: scale(1.5);
    }
  }

  &-Link-icon {
    font-size: 1.5em;
  }

  &-HomeBtn {
    position: absolute;
  }
  
  &-HomeBtn img {
    width: 8vw;
    min-width: 50px;
    max-width: 100px;
  }

  &-HomeScale {
    &:hover, &:focus{
      transform: scale(1.2);
    }
  }
  
  &-Projects {
    grid-area: projects;
  }
  
  &-Skills {
    grid-area: skills;
  }
  
  &-Contact {
    grid-area: contact;
  }
  
  &-About {
    grid-area: about;
  }

}



