.Nav {
    position: sticky;
    bottom: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vw;
    min-height: 50px;
    min-width: 320px;
  }

.Nav-Effect {
    position: absolute;
    background-color: rgba(152, 159, 226, 0.3);
    width: 90vw;
    min-width: 300px;
    height: 100%;
    border-radius: 50px;
    z-index: 0;
}
  
.Nav-Grid {
      position: absolute;
      display: grid;
      grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "projects skills . contact about";
      align-items: center;
      justify-items: center;
      width: 100%;
      height: 100%;
  }
  
  .Nav-Link {
    text-decoration: none;
    color: #FFF;
    z-index: 1;
  }

  .Nav-Link-img {
      width: 4vw;
      min-width: 20px;
      margin: auto;
  }
  
  .Nav-HomeBtn {
    position: absolute;
    grid-area: home;
  }

  .Nav-HomeBtn img {
      width: 15vw;
      min-width: 50px;
  }

  .Nav-Projects {
    grid-area: projects;
  }


  .Nav-Skills {
    grid-area: skills;
  }


  
  .Nav-Contact {
    grid-area: contact;
  }


  
  .Nav-About {
    grid-area: about;
  }

