@import 'Variables';

.Projects {
    width: 100%;
    height: 100%;
    
    &-Container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 100px 10% 120px 10%;
        @media (max-width: 559px) {
            padding: 100px 0 120px 0;     
        }
    }

    &-Title {
        color: $Theme-ColorGreen;
        margin-bottom: 25px;
        @media (max-width: 559px) {
            align-self: center;
        }
    }

    &-List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 3rem;
        @media (max-width: 559px) {
        display: flex;
        flex-direction: column;      
        }

        &-Item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5rem;
            color: $Theme-ColorGreen;
            background-color: $Effect-Color;
            min-height: 120px;
            border-radius: 2rem;
            box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.2), 0px 0px 20px rgba(#000000, $alpha: 0.2);
            cursor: pointer;
            @media (max-width: 559px) {
                min-height: 300px;
                border-radius: 0rem;
                box-shadow: none;
            }

            &-LM {
                color: $Theme-ColorBlue;
                background-color: $Effect-Color-LM;
            }
        }
    }
    
}

#p1 {
    background-image: url(../img/tictactoe.png);
    background-size: cover;
}

#p2 {
    background-image: url(../img/myndaalbum.png);
    background-size: cover;
}