@import 'Variables';

.Projects {
    width: 100%;
    height: 100%;
    
    &-Container {
        display: flex;
        flex-direction: column;
        padding: 100px 15% 30% 15%;
    }

    &-Title {
        color: $Theme-ColorGreen;
        margin-bottom: 25px;
    }

    &-List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 3rem;

        &-Item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: $Theme-ColorGreen;
            background-color: $Effect-Color;
            min-height: 120px;
            border-radius: 2rem;
            border: 1px solid $Theme-ColorGreen;
            box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.2), 0px 0px 20px rgba(#000000, $alpha: 0.2);
            cursor: pointer;

            &-LM {
                color: $Theme-ColorBlue;
                background-color: $Effect-Color-LM;
            }
        }
    }
    
}