.Skils {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 97vw;
    height: 97vh;
    color: white;

    &-Container {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        margin-left: 10%;
        margin-right: 10%;
    }

    &-Title {
        color: #29D9B9;
        margin-bottom: 25px;
    }

    &-Skill {
        margin-bottom: 3rem;
    }

    &-Bars {
        background-color: salmon;
        display: block;
        width: 50vw;
        height: 1rem;
    }
    
}