@import 'Variables';

.Skils {
    width: 100%;

    &-Container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 1rem 100px 1rem;
        background-color: rgba(196, 196, 196, 0.05);
        border-radius: 1em;
        @media (min-width: 800px) {
            max-width: 800px;
            margin: auto;
        }
    }

    &-Title {
        color: $Theme-ColorGreen;
        padding: 100px 10% 25px 10%;
    }

    &-Skill {
        padding: .5rem;
    }
}