@import 'Variables';

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85vh;
  @media (max-width: 600px){
    flex-direction: column;
  }

  &-wrapper-left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px){
      height: 50%;
      width: 100%;
    }
    @media (max-width: 400px){
      height: 40%;
      width: 100%;
    }
  }

  &-wrapper-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    @media (max-width: 600px){
      height: 50%;
      width: 100%;
    }
    @media (max-width: 400px){
      height: 60%;
      width: 100%;
    }
  }

  &-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    margin-left: 10px;

    @media (min-width: 1200px){
      width: 30vw;
      height: 30vw;
    }
  }

  &-info {
    color: $Theme-ColorGreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 10px 0 10px;
  }

  &-info-status {
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto 20px auto;
  }

  &-info ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-info-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    & button {
      cursor: pointer;
    }
  }

  &-info li {
    list-style: none;
  }

  &-info button {
    font-size: .6em;
    width: 8em;
    margin: .6em;
    padding: .5em;
    color: $Theme-ColorGreen;
    background-color: transparent;
    border: solid $Theme-ColorGreen;
    border-radius: 10px;
  }
}

  .board-row{
    height: 33.334%;
    width: 100%;
    border-bottom: 4px solid  $Light-Color;
  
    &:after {
      clear: both;
      content: "";
      display: block;
    }

    &:last-child {
      border-bottom: none;
    }

    &--Light-Mode{
      height: 33.334%;
      width: 100%;
      border-bottom: 4px solid  $Dark-Color;

      &:after {
        clear: both;
        content: "";
        display: block;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
  
  .square {
    background:transparent;
    color: $Theme-ColorGreen;
    border: none;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    height: 100%;
    width: 33.334%;
    text-align: center;
    cursor: pointer;
    @media (min-width: 700px){
      font-size: 2.5em;
    }
  
    &:nth-child(2){
      border-left: 4px solid  $Light-Color;
      border-right: 4px solid  $Light-Color;
    }

    &--Light-Mode{
      background:transparent;
      color: $Theme-ColorGreen;
      border: none;
      float: left;
      font-size: 1.5em;
      font-weight: bold;
      height: 100%;
      width: 33.334%;
      text-align: center;
      cursor: pointer;
      @media (min-width: 700px){
        font-size: 2.5em;
      }
  
    &:nth-child(2){
      border-left: 4px solid  $Dark-Color;
      border-right: 4px solid  $Dark-Color;
    }
    }
  }

  .lumenate{
    color: rgb(252, 123, 235);
  }
  
  .square:focus {
    outline: none;
  }
  
  .go-to-move {
    text-decoration: none;
    cursor: pointer;

    &:focus{
      font-weight: bold;
    }
  }
  
