@import 'Variables';

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;

  @media (min-width: 1000px) {
    justify-content: space-around;
  }

  @media (max-width: 600px){
    flex-direction: column;
  }

  &-wrapper-left {
    height: 50vw;
    width: 50vw;
    max-height: 500px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
    
    @media (max-width: 600px){
      height: 50%;
      width: 100%;
      padding: 0 10px 0 10px;
      margin: 60px 0 60px 0;
    }
    @media (max-width: 400px){
      height: 45%;
      width: 100%;
      padding: 0 10px 0 10px;
      margin: 40px 0 20px 0;
    }
  }

  &-wrapper-right {
    height: 50vw;
    width: 50vw;
    max-height: 500px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 600px){
      height: 50%;
      width: 100%;
    }
    @media (max-width: 400px){
      height: 50%;
      width: 100%;
    }
  }

  &-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &-info {
    color: $Theme-ColorGreen;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    & ol {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
      & button {
        cursor: pointer;
      }
    }
    &-status {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1em;
      font-weight: bold;
      & .order {
        width: 10em;
        height: 4em;
      }
    }
    & li {
      list-style: none;
    }
    & button {
      font-size: .5em;
      width: 7em;
      height: 5em;
      margin: .4em;
      color: $Theme-ColorGreen;
      background-color: transparent;
      border: solid $Theme-ColorGreen;
      border-radius: 10px;
    }
  }
}

  .board-row{
    height: 33.334%;
    width: 100%;
    border-bottom: 4px solid  $Board-DM;
  
    &:after {
      clear: both;
      content: "";
      display: block;
    }

    &:last-child {
      border-bottom: none;
    }

    &--Light-Mode{
      height: 33.334%;
      width: 100%;
      border-bottom: 4px solid  $Board-LM;

      &:after {
        clear: both;
        content: "";
        display: block;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
  
  .square {
    background:transparent;
    color: $Theme-ColorGreen;
    border: none;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    height: 100%;
    width: 33.334%;
    text-align: center;
    cursor: pointer;
    @media (min-width: 700px){
      font-size: 2.5em;
    }
  
    &:nth-child(2){
      border-left: 4px solid  $Board-DM;
      border-right: 4px solid  $Board-DM;
    }

    &--Light-Mode{
      background:transparent;
      color: $Theme-ColorBlue;
      border: none;
      float: left;
      font-size: 1.5em;
      font-weight: bold;
      height: 100%;
      width: 33.334%;
      text-align: center;
      cursor: pointer;
      @media (min-width: 700px){
        font-size: 2.5em;
      }
  
    &:nth-child(2){
      border-left: 4px solid  $Board-LM;
      border-right: 4px solid  $Board-LM;
    }
    }
  }

  .lumenate{
    color: #fc7beb;
  }
  
  .square:focus {
    outline: none;
  }
  
  .go-to-move {
    text-decoration: none;
    cursor: pointer;

    &:focus{
      font-weight: bold;
    }
  }
  
