 /*----------------------Colors-----------------------*/
 $Dark-Color: rgb(13, 22, 38);
 $Light-Color: rgb(194, 232, 233);
 $Overlay-Color: rgba(196, 196, 196, 0.1);
 $Theme-ColorBlue: #293AD9;
 $Theme-ColorGreen: #29D9B9;
 $Java-Color:  #f0db4f;
 $HTML-Color: #f06529;
 $CSS-Color:#2965f1;
 $React-Color: #61DBFB;
