 /*----------------------Colors-----------------------*/
 $Dark-Color: #0d1626;
 $Light-Color: #fdfffc;
 $Overlay-Color: rgba(196, 196, 196, 0.1);
 $Overlay-Color--LM: rgba(196, 196, 196, 0.295); //Light-Mode
 $Theme-ColorBlue: #5562DD;
 $Theme-ColorGreen: #29D9B9;
 $Theme-ColorGreen--LM:#00ff87; //Light-Mode
 $Theme-ColorBlue--LM:#60efff; //Light-Mode
 $Java-Color:  #f0db4f;
 $HTML-Color: #f06529;
 $CSS-Color:#2965f1;
 $React-Color: #61DBFB;
  /*----------------------NAV-Colors-----------------------*/
$Effect-Color: rgba(152, 159, 226, 0.3);
$Effect-Color-LM: rgba(25, 106, 153, 0.3);
 /*----------------------Sizes-----------------------*/

   /*----------------------TickTackToe-Colors-----------------------*/
$Board-DM: #aab1a9;
$Board-LM: #2a4677;