 /*----------------------App-----------------------*/
 .App {
   height: 100vh;
   width: 100vw;
 }


/*----------------------NAV-----------------------*/
.Nav-wrapper {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
}

  .Nav {
    display: flex;
    background-color: rgba(156, 51, 51, 0.6);
    width: 90vw;
    min-height: 100px;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.Nav-HomeBtn {
  order: 3;
}

.Nav-Projects {
  order: 1;
}

.Nav-Skills {
 order: 2;
}

.Nav-Contact {
 order: 4;
}

.Nav-About {
  order: 5;
}

/*----------------------Projects-----------------------*/


/*------------------------Skils-------------------------*/

/*----------------------Contact-----------------------*/

/*----------------------About-----------------------*/