 /*----------------------App-----------------------*/
 .App {
   height: 100vh;
   width: 100vw;
 }
 /*----------------------All pages-----------------------*/

 .Background {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   background-color: rgb(13, 22, 38);
 }

 .Overlay {
  width: 97vw;
  height: 97vh;
  background-color: rgb(196, 196, 196, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
 }

/*----------------------Home-----------------------*/

.HomeSection {
  display: flex;
  width: 356px;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  color:#FFF;
  letter-spacing: 1px;
}

.HomeSection h1 {
  font-size: 3em;
  letter-spacing: 3px;
}

.HomeSection p {
  margin-top: 5%;
  line-height: 2em;
}

/*----------------------NAV-----------------------*/
.Nav-wrapper {
  position: sticky;
  bottom: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
}

  .Nav {
    display: flex;
    background-color: rgba(152, 159, 226, 0.3);
    width: 90vw;
    min-height: 100px;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.Nav-HomeBtn {
  order: 3;
}

.Nav-Projects {
  order: 1;
}

.Nav-Skills {
 order: 2;
}

.Nav-Contact {
 order: 4;
}

.Nav-About {
  order: 5;
}

/*----------------------Projects-----------------------*/


/*------------------------Skils-------------------------*/

/*----------------------Contact-----------------------*/

/*----------------------About-----------------------*/