@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    overflow-x: hidden;
  }
  
  html::-webkit-scrollbar {
    width: 10px;
}

  html::-webkit-scrollbar-thumb{
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #29D9B9;
  }
  
  body {
    font-family: 'Saira', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }

  img {
    display: block;
  }

  @media screen and (min-width: 320px) {
   body {
     /*calc([minimum size]+([maximum size]-[minimum size])*((100vw-[minimum viewport width])/([maximum viewport width]-[minimum viewport width])));*/
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
   body {
      font-size: 22px;
    }
  }